//large screen
$large-screen-width: 40rem;
$container-max-width: 62rem;
//colors
$nav-panel-color: rgba(25, 25, 27, 0.88);
$nav-panel-item-normal-color: #7ea7c8;
$nav-panel-item-current-color: #bed3e7;
$nav-panel-line-color: rgb(68, 68, 77);
$page-background-color: #19191b;
$main-area-color: #202023;
$main-box-color: #323234;
$main-a-href-color: #a1a1a1;
$footer-line-color: #94a0a7;
$text-color: #ddd;
$main-headline-color: #7ea7c8;

$label-item-color-blue: #7ea7c8;
$label-item-color-grey: #6d6d6d;
//shadows
$main-shadow-a: 0 1px 5px rgba(16, 16, 19, 0.8);
$nav-panel-shadow-a: 0 1px 5px rgba(12, 12, 12, 0.8);
