@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import "_variables";

html {
  box-sizing: border-box;
}

//mobile first
body {
  font-family: "Roboto", sans-serif;

  font-size: 0.8rem;
  line-height: 1.4;
  background: $page-background-color;
  margin: 0;

  //large screen
  @media (min-width: $large-screen-width) {
    font-size: 1rem;
  }
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 4.5rem auto auto;
  grid-template-areas:
  //.nav is fixed so it is out of document flow, make grid row nav and move other grid rows under it
    "nav"
    "main"
    "footer";
  max-width: $container-max-width;

  @media (min-width: $large-screen-width) {
    grid-template-rows: 4rem auto auto;
  }
}

.nav {
  width: 100%;
  position: fixed;
  height: 4.5rem;
  top: 0;
  left: 0;
  background: $nav-panel-color;
  grid-area: nav;
  border-bottom: 1px solid $nav-panel-line-color;
  box-shadow: $nav-panel-shadow-a;

  @media (min-width: $large-screen-width) {
    height: 3rem;
    margin: 0 auto;
  }
}

.nav__panel {
  // $container-max-width minus .main margin
  max-width: calc(#{$container-max-width} - 2rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  //large screen*/
  @media (min-width: $large-screen-width) {
    display: flex;
    flex-direction: row;
    height: 3rem;
    //verticaly
    align-items: center;
    //make space between flex items - name and nav bar
    justify-content: space-between;
  }
}

.nav__name {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  text-transform: uppercase;
  font-weight: 300;

  a {
    font-size: 1.6rem;
    //background: #fff;
    text-align: center;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-color;
  }

  //if nav__panel width is smaller then container, add margin
  @media (max-width: $container-max-width) and (min-width: $large-screen-width) {
    margin-left: 1rem;
  }

  @media (min-width: $large-screen-width) {
    font-size: 2rem;
    margin-top: 0rem;
  }
}

.nav__items {
  padding: 0;
  list-style: none;
  //put li into flex row
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0;
  height: 1rem;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $nav-panel-item-normal-color;
  }

  @media (min-width: $large-screen-width) {
    margin-top: 0;
    height: 100%;
  }
}

.nav__item {
  margin-left: 0rem;
  width: 6rem;
  font-size: 0.9rem;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    &:hover,
    &:active {
      border-bottom: 1px solid $nav-panel-item-normal-color;
    }
  }

  @media (min-width: $large-screen-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 6rem;
    margin-left: 0.3rem;
    a {
      &:hover,
      &:active {
        border-bottom: 1px solid var($nav-panel-item-normal-color);
      }
    }
  }
}

.nav__item--current {
  a {
    color: $nav-panel-item-current-color;
    &:hover,
    &:active {
      border-bottom: 0px;
    }
    @media (min-width: $large-screen-width) {
      &:hover,
      &:active {
        border-bottom: 0px;
      }
    }
  }
}

.main {
  grid-area: main;
  margin: 1rem;
  min-height: calc(100vh - 9.2rem);
  background: $main-area-color;
  box-shadow: $main-shadow-a;
  color: $text-color;
  display: flex;
  flex-direction: column;

  a {
    color: $main-a-href-color;
  }
}

.box-container {
  display: flex;
  flex-direction: column;

  h1 {
    color: $main-headline-color;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: $large-screen-width) {
      font-size: 1.1rem;
      text-align: left;
    }
  }

  @media (min-width: $large-screen-width) {
    flex-direction: row;
  }
}

.box-container__box-a {
  margin: 0rem;
  padding: 0 1rem;
  font-weight: 200;

  @media (min-width: $large-screen-width) {
    margin: 1rem;
    flex-basis: 70%;
    flex-grow: 2;
  }
}

.box-container__box-b {
  margin: 0rem;
  padding: 0 1rem;
  text-align: center;

  @media (min-width: $large-screen-width) {
    margin: 1rem;
    flex-basis: 30%;
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
  }
}

.label-container {
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;

  @media (min-width: $large-screen-width) {
    width: 40%;
  }
}

.label-container__item {
  background: #ddd;
  color: black;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 2px;
  min-width: 4rem;
  text-align: center;
}

.label-container__item--blue {
  background: $label-item-color-blue;
  color: white;
}

.label-container__item--grey {
  background: $label-item-color-grey;
  color: white;
}

.showcase {
  margin: 0rem;

  h1 {
    margin: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  @media (min-width: $large-screen-width) {
    margin: 1rem;
  }
}

//flex parent
.showcase-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;

  @media (min-width: $large-screen-width) {
    flex-direction: row;
    margin: 0.5rem;
  }
}

.showcase-container__title {
  margin: 1rem;

  h2 {
    font-size: 0.9rem;
    color: $main-headline-color;
    font-weight: normal;
    @media (min-width: $large-screen-width) {
      font-size: 1.2rem;
    }
  }
}

//flex item
.showcase-container__box {
  color: #0c0c0d;
  margin: 0.5rem 1rem;
  flex-basis: 100%;

  @media (min-width: $large-screen-width) {
    flex: 1 0 40%;
    margin: 0.5rem;
  }
}

.showcase-container__image {
  width: 100%;
  height: 100%;
}

.contact {
  margin: 3rem;
  text-align: center;

  a {
    font-size: 1.1rem;
    font-weight: 400;
    color: $main-headline-color;
    text-decoration: none;
  }
}

.footer {
  margin: 0;
  grid-area: footer;
  display: flex;
  //horizontaly
  justify-content: center;
  color: $text-color;
  @media (min-width: $large-screen-width) {
    font-size: 0.8rem;
  }
}
